{% extends "registrasion/base.html" %}
{% load registrasion_tags %}

{% block body %}

  <h1>Oh No!</h1>

  <p>We can't produce an invoice for you because of the following errors:</p>

  <ul>
    {% for error in error_list %}
      <li>{{ error.message }}</li>
    {% endfor %}
  </ul>

  <p>We can automatically try to remove products and vouchers that aren't available anymore,
    or you can return to the dashboard and try to fix it yourself.</p>

  <div class="form-actions">
    <a class="btn btn-default" href="{% url "checkout" %}?fix_errors=true">Try fixing these errors</a>
    <a class="btn btn-default" href="{% url "dashboard" %}">Return to dashboard</a>
  </div>

{% endblock %}
