{% load i18n %}

<div class="col-xs-12 col-sm-6 col-lg-6">
  <div class="panel panel-warning"> <!-- Todo Make the colour relate to status of acceptance -->
    <div class="panel-heading">
      <h5>{{ proposal.title }}</h5>
    </div>
    <div class="panel-body">
      <ul>
        <li><strong>Type:</strong> {{ proposal.kind.name }}</li>
        <li>
          <strong>Status:</strong>
          {% if proposal.cancelled %}
            <span class="label label-danger">Cancelled</span>
          {% else %}
            {% if request.user == proposal.speaker.user %}
              {% if proposal.result.status == "accepted" %}
                <span class="label label-success">Accepted</span>
              {% else %}
                <span class="label label-default">Submitted</span>
              {% endif %}
            {% else %}
              <span class="label label-default">Invited</span>
            {% endif %}
          {% endif %}
        </li>
      </ul>
      <div>
        <a class="btn btn-lg btn-primary" role="button" href="{% url "proposal_detail" proposal.pk %}">View Details</a>
        {% if not proposal.cancelled %}
          <a class="btn btn-lg btn-success" role="button" href="{% url "proposal_pending_join" proposal.id %}">Accept Copresenter Invitation</a>
          <a class="btn btn-lg btn-danger" role="button" href="{% url "proposal_pending_decline" proposal.id %}">Decline Copresenter Invitation</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
