{% extends "symposion/proposals/base.html" %}

{% block page_title %}Leaving {{ proposal.title }}{% endblock %}
{% block head_title %}Leaving {{ proposal.title }}{% endblock %}

{% block body %}
    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Are you sure you wish to leave as a speaker on <b>{{ proposal.title }}</b>?</p>
        <input type="submit" class="btn btn-primary" value="I am sure" />
    </form>
{% endblock %}
