{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block extra_style %}
{{ block.super }}
    <style type="text/css">
        div.dataTables_length label {
            float: left;
            text-align: left;
        }

        div.dataTables_length select {
            width: 75px;
        }

        div.dataTables_filter label {
            float: right;
        }

        div.dataTables_info {
            padding-top: 8px;
        }

        div.dataTables_paginate {
            float: right;
            margin: 0;
        }

        table.table {
            clear: both;
            margin-bottom: 6px !important;
            background-color: white;
        }

        table.table thead .sorting,
        table.table thead .sorting_asc,
        table.table thead .sorting_desc,
        table.table thead .sorting_asc_disabled,
        table.table thead .sorting_desc_disabled {
            cursor: pointer;
            *cursor: hand;
        }

        table.dataTable th:active {
            outline: none;
        }
    </style>
{% endblock %}

{% block body_class %}reviews{% endblock %}

{% block body_outer %}
<div class="l-content-page">
<div class="l-content-page--richtext">
<div class="rich-text">

    <div class="row">
        <div class="col-md-2">
            {% block sidebar %}
            {% for section in review_sections %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ section }}</h3>
                </div>
                <div class="list-group">
                        <a class="list-group-item review-list" href="{% url "review_section" section.section.slug %}">
                            {% trans "All Reviews" %}
                        </a>
                        {% comment %}
                        <li>
                            <a href="{% url "review_section_assignments" section.section.slug %}">
                                {% trans "Your Assignments" %}
                            </a>
                        </li>
                        {% endcomment %}
                        <a class="list-group-item user-reviewed" href="{% url "user_reviewed" section.section.slug %}">
                            {% trans "Reviewed by you" %}
                        </a>
                        <a class="list-group-item user-not-reviewed" href="{% url "user_not_reviewed" section.section.slug %}">
                            {% trans "Unreviewed by you" %}
                        </a>
                        <a class="list-group-item user-random" href="{% url "user_random" section.section.slug %}">
                            {% trans "Random unreviewed proposal" %}
                        </a>
                        <a class="list-group-item voting-status" href="{% url "review_status" section.section.slug %}">
                            {% trans "Voting Status" %}
                        </a>
                        {% if request.user.is_staff %}
                            <a class="list-group-item review-results" href="{% url "result_notification" section.section.slug 'accepted' %}">Result Notification</a>
                        {% endif %}
                </div>
            {% endfor %}
            {% endblock %}
        </div>
        <div class="col-md-10">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div></div></div>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/site-92ae8d0d6c.js' %}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}tabletools/js/TableTools.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}datatables/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".tip").tooltip();
            $("table.table-reviews").dataTable({
                "sDom": "<'row'<'col-md-3'l><'col-md-3'T><'col-md-4'f>r>t<'row'<'col-md-3'i><'col-md-5'p>>",
                "sPaginationType": "bootstrap",
                "bStateSave": true,
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "print"
                    ],
                    "sSwfPath": "{{ STATIC_URL }}tabletools/swf/copy_csv_xls.swf"
                }
            });
        });
    </script>
{% endblock %}
