{% extends "symposion/schedule/base.html" %}

{% load i18n %}

{% block head_title %}Conference Schedule Edit{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="l-content-page">
<div class="l-content-page--richtext">
<div class="rich-text">

    <h1>Schedule Edit</h1>

    {% for timetable in days %}
        <h2>{{ timetable.day.date }}</h2>
        {% include "symposion/schedule/_edit_grid.html" %}
    {% endfor %}
    <form class="form-horizontal" id="schedule-builder" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Submit" />
        <input type="submit" id="delete" name="delete" value="Delete Schedule" />
    </form>
    <div class="modal fade in" style="background-color:#fff;" id="slotEditModal"></div>
</div></div></div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(function() {
            $("a.edit-slot").click(function(e) {
                $("#slotEditModal").load($(this).data("action"), function() {
                    $("#slotEditModal").modal("show");
                });
                e.preventDefault();
            });
        });
        $(function() {
           //submit event handler
            $("form#schedule-builder :submit").click(function(e) {
                var name = this.name;
                if(name == 'delete') {
                    if (!confirm("Are you sure you want to delete the schedule?"))
                        {
                            e.preventDefault();
                            return;
                        }
                }
            });
        });

    </script>
{% endblock %}
