{% extends "symposion/schedule/public_base.html" %}

{% load i18n %}
{% load cache %}
{% load pyconau2017_tags %}
{% load sitetree %}

{% block head_title %}Presentation Listing{% endblock %}

{% block header_title %}{{ schedule.section.name }} List{% endblock %}
{% block header_paragraph %}{{ schedule.header_paragraph.text }}{% endblock%}
{% block header_inset_image %}{% illustration "lavender.svg" %}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block content %}
<div class="jumbotron">
  {% cache 600 "schedule-list" schedule.section.name %}
    <ul>
      {% for presentation in presentations %}
        <li>
          <a href="{% url "schedule_presentation_detail" presentation.pk %}">{{ presentation.title }}</a> {{ presentation.proposal.kind }} <em>by</em>
          {{ presentation.speakers|join:", " }}
          {% if presentation.slot %}
            ({{ presentation.slot.day.date|date:"l" }}
            {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
            in
            {{ presentation.slot.rooms|join:", " }})
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endcache %}
</div>
{% endblock %}
