{% extends "symposion/schedule/public_base.html" %}

{% load i18n %}
{% load pyconau2017_tags %}
{% load thumbnail %}

{% if speaker.photo %}
  {% block header_inset_image %}{% speaker_photo speaker 512 as speaker_photo %}{{ speaker_photo }}{% endblock %}
{% endif %}

{% block header_title %}{{ speaker.name }}{% endblock %}

{% block header_paragraph %}
{% endblock %}

{% block head_title %}{{ speaker.name }}{% endblock %}

{% block content %}
  {% if speaker.user == request.user or request.user.is_staff %}
    <p>
      <a class="btn btn-default pull-right" href="{% url "speaker_edit" speaker.pk %}">Edit</a>
    </p>
  {% endif %}

  <h3>Biography</h3>

  <div class="bio">{{ speaker.biography_html|safe }}</div>

  <h3>Presentations</h3>

  <ul>
    {% for presentation in presentations %}
      <li>
        <a href="{% url "schedule_presentation_detail" presentation.pk %}">{{ presentation.title }}</a>
        {% if presentation.slot %}
          &ndash;
            {{ presentation.slot.day.date|date:"l" }}
            {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
            in
            {{ presentation.slot.rooms|join:", " }}
        {% endif %}
      </li>
    {% empty %}
      <p>No presentations. This page is only visible to staff until there is a presentation.</p>
    {% endfor %}
  </ul>
{% endblock %}
