{% extends "site_base.html" %}
{% load staticfiles %}

{% load pyconau2017_tags %}


{% load i18n %}

{% block body_class %}template-content-page{% endblock %}

{% block head_title %}{% endblock %}

{% block body %}
  {% block content_base %}
    <div class="l-content-page">
      <div class="l-content-page--richtext">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block extra_script %}
  <script src="{% static 'js/site-92ae8d0d6c.js' %}" type="text/javascript"></script>
{% endblock %}
