{% load sitetree %}
<nav class="navbar navbar-inverse navbar-default">
  <div class="container-fluid">
  {% for item in sitetree_items %}
    {% if forloop.counter == 1 %}
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        	<a class="navbar-brand" href="{% sitetree_url for item %}">{{ item.title_resolved }}</a>
      </div>
    {% else %}
      {% if forloop.counter == 2 %}
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
      {% endif %}
      <li class="{% if item.is_current or item.in_current_branch %}active{% endif %}">
        <a href="{% sitetree_url for item %}">{{ item.title_resolved }}</a>
      </li>
    {% endif %}
  {% endfor %}
      </ul>
    </div>
  </div>
</nav>
