{% extends "content_page.html" %}
{% load staticfiles %}

{% block header_title %}{% block page_title %}{% endblock %}{% endblock %}

{% block content_base %}
  {% block utility_body_outer %}
    <div class="l-content-page">
      <div class="l-content-page--richtext">
        {% block content %}
          <div class="jumbotron">
            {% block utility_body %}
            {% endblock %}
          </div>
        {% endblock content %}
      </div>
    </div>
  {% endblock %}
{% endblock %}
